{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inlove Profile</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.png' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'profile_style.css' %}">
</head>
<body>
    <div class="container">

      <div class="header">
        <!-- Navbar -->
          {% include 'navbar.html' %}
      </div>

      <div class="main">
        <div class="row">
              <!-- Boy Profile -->
              <div class="col-md-6 profile">
                <div class="card">
                    <div class="rounded-image">
                        <img src="{% static 'images/hoang_man.jpg' %}" class="card-img-top" alt="Boy Avatar">
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="mb-3">
                                <label for="boyName" class="form-label">Name</label>
                                <input type="text" class="form-control" id="boyName" value="John Doe">
                            </div>
                            <div class="mb-3">
                                <label for="boyBirthday" class="form-label">Birthday</label>
                                <input type="text" class="form-control" id="boyBirthday" value="January 1, 2000">
                            </div>
                            <div class="mb-3">
                                <label for="boySex" class="form-label">Sex</label>
                                <input type="text" class="form-control" id="boySex" value="Male">
                            </div>
                            <div class="mb-3">
                                <label for="boyZodiac" class="form-label">Zodiac</label>
                                <input type="text" class="form-control" id="boyZodiac" value="Capricorn">
                            </div>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Girl Profile -->
            <div class="col-md-6 profile">
                <div class="card">
                    <div class="rounded-image">
                        <img src="{% static 'images/khanh_linh_1.jpg' %}" class="card-img-top" alt="Boy Avatar">
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="mb-3">
                                <label for="girlName" class="form-label">Name</label>
                                <input type="text" class="form-control" id="girlName" value="Jane Doe">
                            </div>
                            <div class="mb-3">
                                <label for="girlBirthday" class="form-label">Birthday</label>
                                <input type="text" class="form-control" id="girlBirthday" value="February 14, 2002">
                            </div>
                            <div class="mb-3">
                                <label for="girlSex" class="form-label">Sex</label>
                                <input type="text" class="form-control" id="girlSex" value="Female">
                            </div>
                            <div class="mb-3">
                                <label for="girlZodiac" class="form-label">Zodiac</label>
                                <input type="text" class="form-control" id="girlZodiac" value="Aquarius">
                            </div>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
      </div>

      <div class="footer" id="footer">

      </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>
</html>